@font-face {
   font-family: 'Mokoto Glitch Mark';
   font-display: swap;
   src: url('Mokoto Glitch Mark/font.ttf');
}
@font-face {
   font-family: 'aperture2.0-webfont';
   font-display: swap;
   src: url('aperture2.0-webfont/font.ttf');
}
