@font-face {
   font-family: 'Mokoto Glitch Mark';
   font-display: swap;
   src: url('file:///C:/Users/Gamos/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-11-28_003121/fonts/Mokoto%20Glitch%20Mark/font.ttf');
}
